{% extends "core/base.html" %}
{% block title %}Servicios{% endblock %}

    {% block content %}
    <div id="nubeServicios">
        <ul class="nube" role="navegacion" aria-label="Webdev tag nube">
            <li><a data-weight="4" href="/tag/redes">REDES</a></li>
            <li><a data-weight="2" href="/tag/disenho">DISEÑO</a></li>
            <li><a data-weight="5" href="/tag/antivirus">ANTIVIRUS</a></li>
            <li><a data-weight="8" href="/tag/seguridad">SEGURIDAD</a></li>
            <li><a data-weight="6" href="/tag/recupero">RECUPERO DE DATOS</a></li>
            <li><a data-weight="4" href="/tag/reparacion">REPARACIÓN</a></li>
            <li><a data-weight="5" href="/tag/consultoria">CONSULTORÍA</a></li>
            <li><a data-weight="6" href="/tag/hardware">HARDWARE</a></li>
            <li><a data-weight="7" href="/tag/so">SISTEMAS OPERATIVOS</a></li>
            <li><a data-weight="9" href="/tag/software">SOFTWARE</a></li>
            <li><a data-weight="3" href="/tag/malware">MALWARE</a></li>
            <li><a data-weight="7" href="/tag/wifi">WIFI</a></li>
            <li><a data-weight="8" href="/tag/notebooks">NOTEBOOKS</a></li>
            <li><a data-weight="5" href="/tag/escritorio">ESCRITORIO</a></li>
            <li><a data-weight="3" href="/tag/abonos">ABONOS</a></li>
            <li><a data-weight="7" href="/tag/asistencia">ASISTENCIA REMOTA</a></li>
            <li><a data-weight="6" href="/tag/servers">SERVIDORES</a></li>
          </ul>
    </div>

{% endblock %}