{% extends "core/base.html" %}
{% block title %}Turoriales{% endblock %}
{% load static %}

    {% block content %}


    <!-- Cards -->
    <div>
        <section class="cards">

            <!-- Card HTML -->
            <article class="tarjeta">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="{% static 'core/img/tutoriales/html-code.jpeg' %}" alt="HTML 5">
                    </figure>
                </a>
                <div class="tarjeta-content">
                    <h2>HTML 5</h2>
                    <p>Nuestro curso de HTML 5 te va a llevar desde cero a comprender el lenguaje, sus etiquetas tradicionales y las nuevas etiquetas semánticas.</p>
                </div>
            </article>

            <!-- Card CSS -->
            <article class="tarjeta">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="{% static 'core/img/tutoriales/css-code.jpeg' %}" alt="CSS 3">
                    </figure>
                </a>
                <div class="tarjeta-content">
                    <h2>CSS 3</h2>
                    <p>Actualmente CSS se encuentra en su versión 3, estable desde 1999. Se fue actualizando y sus prácticas mejoraron contínuamente. Para conocerlas, aprendé con nosotros.</p>
                </div>
            </article>

            <!-- Card JS -->
            <article class="tarjeta">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="{% static 'core/img/tutoriales/js-code.jpeg' %}" alt="Javascript">
                    </figure>
                </a>
                <div class="tarjeta-content">
                    <h2>JS</h2>
                    <p>La web dejó de ser algo estático a estar viva. Pasó de simplemente mostrar texto y fotos a tener funcionalidad, como consultar bases de datos, envío de formularios y montones más. Javascript es el lenguaje que permite todo eso, si querés aprender de qué se trata, ingresá acá.</p>
                </div>
            </article>

            <!-- Card HTML CSS JS -->
            <article class="tarjeta">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="{% static 'core/img/tutoriales/HTML-CSS-JS-code.jpeg' %}" alt="HTML CSS JS">
                    </figure>
                </a>
                <div class="tarjeta-content">
                    <h2>HTML CSS JS</h2>
                    <p>Desarrollo web en su máxima expresión. Ingresá para aprender con nuestro tutorial que reúne los anteriores. Maquetá con HTML, dale estilo con CSS y dale funcionalidad con JavaScript.</p>
                </div>
            </article>

            <!-- Card VS CODE -->
            <article class="tarjeta">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="{% static 'core/img/tutoriales/vscode.png' %}" alt="VS CODE">
                    </figure>
                </a>
                <div class="tarjeta-content">
                    <h2>VS CODE</h2>
                    <p>Todo el conocimiento de los lenguajes utilizarse para desarrollar sin preocuparse de cómo hacerlo. Visual Studio Code nos ofrece múltiples maneras de acelerar y facilitar nuestro trabajo. Aprendé cómo usarlo, atajos y consejos.</p>
                </div>
            </article>

            <!-- Card Terminal -->
            <article class="tarjeta">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="{% static 'core/img/tutoriales/terminal.webp' %}" alt="Terminal">
                    </figure>
                </a>
                <div class="tarjeta-content">
                    <h2>Terminal</h2>
                    <p>Aprendé a utilizar la terminal de linux con este tutorial. Conocer el sistema operativo que da alojamiento a gran parte de las páginas web que navegamos es importantísimo para un desarrollador.</p>
                </div>
            </article>
        </section>
    </div>
    {% endblock %}